.admin {
    display: flex;
    justify-content: center;
}
.table {
    color:white;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;

}
.head {
    text-align: center;
}
.rows {
    display: flex;
    justify-content: flex-end;
}